h2{
color:black;
text-align:center;
font-family:sans-serif;
padding:8px;
border:10px;
margin:5px;
background-color:#228B22;
}
body{
font-family:sans-serif;
background-color:#f2f2f2;
padding:18px;
border:10px solid #808080;
margin:15px;
border-radius:10px;
}
input[type="text"],
input[type="date"],
input[type="password"],
input[type="number"],
input[type="email"],
select,
textarea{
width:1190px;
padding:12px;
border:1px solid #808080;
border-radius:5px;
background-color:#90EE90;
}
fieldset{
background-color:white;
border:1px;
border-radius:5px;
}
input[type="submit"]{
background-color:#228B22;
border-radius:5px;
padding:12px;
margin:5px;
border:none;
cursor:pointer;
}
input[type="submit"]:hover{
background-color:#4CAF84;

.gender{
font-family:nunito;
}

.add{
font-family:nunito;
}
a:link{
text-decoration:none;
}
a:hover{
color:red;
}
.add{
height:78px;
width:700px;
}
.image{
color:red;
}
.image:hover{
color:blue;
}